@model UILayer.Models.UserAccount

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/CSSFile/Now_LoginPageCSS.css">

<div class="container">
    <div class="title">
        <h2><span>Sign up</span></h2>
    </div>
    <div class="login-feature">
        <div class="contact-container phone">
            <span class="fa fa-mobile"></span>
            Số điện thoại
        </div>
        <div class="contact-container facebook">
            <span class="fa fa-mobile"></span>
            Facebook
        </div>
        <div class="contact-container google">
            <span class="fa fa-mobile"></span>
            Google
        </div>
    </div>
    </br>
    <p class="message">Hãy đăng nhập bằng tài khoản của bạn</p>
    @using (Html.BeginForm("LoginAccount", "User"))
    {
        <div class="login-form" id="form-1">
            <div class="field-group">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.UserName, new { id = "username", placeHolder = "Username, Email", @class = "form-control input" })
                    @Html.ValidationMessageFor(model => model.UserName)
                    <span class="form-message"></span>
                </div>
            </div>
            <div class="field-group">
                <div class="input-group">
                    @Html.PasswordFor(model => model.Password, new { id = "password", placeHolder = "Password", @class = "form-control input" })
                    @Html.ValidationMessageFor(model => model.Password)
                    <span class="form-message"></span>
                </div>
            </div>
            <div class="login-option">
                <input type="checkbox" id="rememberMe" value="remember"><label for="rememberMe">Lưu thông tin đăng nhập</label>
                <a href="#">Quên mật khẩu?</a>
            </div>
            <button class="btn btn-primary" type="submit">Đăng nhập</button>
            <div class="login-message">
                Chúng tôi không sử dụng thông tin của bạn với bất kỳ mục đích nào. Bằng cách đăng nhập hoặc đăng ký, bạn đồng ý với
                <a href="#">Chính sách quy định của Foody</a>
            </div>
        </div>

    }
    <script src="~/Content/JsFile/ValidateForm.js"></script>
    <script>
            Validator({
                form: '#form-1',
                errorSelector: '.form-message',
                rules: [
                    Validator.isRequired('#username'),
                    Validator.isRequired('#password'),
                    //Validator.isEmail('#password'),
                ]
            })
    </script>
</div>
