<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="NowFoodDBEntities" connectionString="metadata=res://*/EF.DBNow.csdl|res://*/EF.DBNow.ssdl|res://*/EF.DBNow.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-TOANLE\SQLEXPRESS3;initial catalog=NowFoodDB;user id=sa;password=Lct2571999;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="NowFoodDBEntities" connectionString="metadata=res://*/EF.DBNow.csdl|res://*/EF.DBNow.ssdl|res://*/EF.DBNow.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NowFoodDB.mssql.somee.com;initial catalog=NowFoodDB;user id=lechitoan_SQLLogin_1;password=wierlrp96m;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="NowFoodDBEntities" connectionString="metadata=res://*/EF.DBNow.csdl|res://*/EF.DBNow.ssdl|res://*/EF.DBNow.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6HTVH3T\SQLEXPRESS;initial catalog=NowFoodDB;user id=sa;password=sa2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>